.relative {
    position: relative;
}

.mois ul{
	list-style: none;
}

.mois ul li{
	display: inline;
	padding-right: 5px;
}

.mois ul li a{
	font-size: 20px;
	color:rgba(25, 144, 206, 1);
	text-decoration: none;
}

.mois ul li a:hover; .mois ul li a:active {
	font-size: 20px;
	color:rgba(2, 184, 191, 1);
	text-decoration: none;

}

.mois ul li a:visited a:hover{
	font-size: 20px;
	color:rgba(25, 144, 206, 1);
	text-decoration: none;
}

.affichMois{
	max-width: 360px;
    margin: auto;
    padding-top: 20px;
}

.affichMois table{
	border-collapse: collapse;
}

.affichMois table td {
    border: 1px solid rgba(25, 144, 206, 1);;
    width: 50px;
    height: 50px;
}

.affichMois table td.padding {
    border: none;
}

.affichMois table td:hover{
	border-collapse: collapse;
	background-color: rgba(2, 184, 191, 1);
}

.affichMois table th {
    font-weight: normal;
    color: rgba(2, 184, 191, 1);
}

.affichMois table td .day{
    position: absolute;
    color: rgba(7, 188, 131, 1);
    bottom: -25px;
    right: 5px;
    font-weight: bold;
    font-size: 12pt;
}

.affichMois table td .events {
    position: relative;
    height: 0px;
    margin: -20px 0px 0px;
    padding: 0px;
}

.affichMois table td .events li {
    width: 10px;
    height: 10px;
    float: left;
    background: rgba(7, 188, 131, 1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 6px;
    overflow: hidden;
    text-indent: -3000px;
}

.affichMois table td:hover .events{
	position: absolute;
	left: 582px;
	top:66px;
	width: 442px;
	list-style: none;
}

.affichMois table td:hover .events li{
	height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-bottom: 1px solid #D6D6D6;
    padding-left: 41px;
    text-indent: 0;
    background: none;
    width: 500px;
}

.affichMois table td:hover .events li:first-child{
	border-top: 1px solid rgba(7, 188, 131, 1);
}

.affichMois table td .daytitle {
    display: none;
}

.affichMois table td:hover .daytitle{
	position: absolute;
    left: 582px;
    top: 21px;
    width: 442px;
    list-style: none;
    margin: 0px 0px 0px 16px;
    padding: 0px;
    color: #D90000;
    font-size: 41px;
    display: block;
    font-weight: bold;
}
