#titremed{
	font-size: 40px;
	color:white;
	font-weight: bold;
}

#textmed{
	font-size: 20px;
	color:white;
}

#divtableauMed{
	background-color: rgba(27, 20, 120, 0.9);
	display: block;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 345px;
    text-align: center;
    overflow: auto;
}

#tableauMed{
	color: white;
    border-collapse: collapse;
}

#tableauMed tr td{
	padding: 3px;
}

#donneesMed tr td{
	padding: 3px;
	font-style: normal;
	border: 1px solid white;
	border-left: none;
    border-right: none;
    border-top: none;
}

#tdCivilite {
	width: 68px;
}

#tdNom_Prenom{
	width: 100px;
}

