#titre{
	font-size: 40px;
	color:white;
	font-weight: bold;
}

#text{
	font-size: 20px;
	color:white;
}

#tableauModif{
	background-color: rgba(27, 20, 120, 0.9);
	display: block;
	margin-left: 35%;
	margin-right: 35%;
	padding: 10px;
	color: white;
    text-align: center;
    border-collapse: collapse;
}

#tableauModif tr td{
	padding: 2px;
}

#divTableauPatient{
	background-color: rgba(27, 20, 120, 0.9);
	margin: 1%;
	padding: 2px;
	text-align: center;
	display: block;
	overflow: auto;
}

#tableauPatient{
	
	color: white;
    
    border-collapse: collapse;
}

#tableauPatient tr td{
	padding: 3px;
}

#enteteTab{
	font-weight: bold;
	border-top: none;
	border-bottom: none;
}

#donnees tr td{
	font-style: normal;
	border: 1px solid white;
	border-left: none;
    border-right: none;
    border-top: none;
    
}

#tdCivilite {
	width: 68px;
	text-align: left;
}

#tdNom_Prenom_Ville{
	width: 100px;
	text-align: left;
}

#tdCp{
	width: 100px;
}

#tdDate_Lieu_Naiss{
	width:143px;
}

#tdadresse{
	width: 130px;
	text-align: right;
}

#tdNumSS{
	width: 177px;
}
