#titre{
	font-size: 40px;
	color:white;
	font-weight: bold;
}

.btn_modifier{
	background-image:url("modifier.png");
	width: 16px;

}

.btn_validerModif{
	background-image:url("validerModif.png");
	width: 16px;
}

.btn_supprimer{
	background-image:url("supprimer.png");
	width: 16px;
}

#listeRDV{
	color: white;
	margin-top: 20px;
	padding: 20px;
	background-color: rgba(27, 20, 120, 0.9);;
}

#listeRDV th{

}

#listeRDV input{
	/*background-color: rgba(7, 188, 131, 0.5);
	border-color: rgba(7, 188, 131, 0.5);*/
	border-width:0; 
}

.date{
	width: 124px;
	height: 17px
}

.heure{
	width: 67px;
	height: 17px
}

.texte{
	width: 100px;
}

#formAjout{
	color: white;
	margin: 40px;
	padding: 20px;
	background-color: rgba(27, 20, 120, 0.9);
	width: 300px;
	float: left;
}

#formAjout fieldset legend{
	padding-left: 10px;
	padding-right: 10px;
}

#formAjout fieldset table{
	padding: 10px;
	display: block;
	margin-left: 10%;
	
}

#formAjout fieldset table th{
	text-align: left;
}

#formAjout fieldset table tr td{
	text-align: left;
	padding: 5px;
}

#planning{
	background-color: rgba(27, 20, 120, 0.9);
	width: 500px;
    float: right;
    margin: 40px;
    padding: 20px;
}