#titrestat{
	font-size: 40px;
	color:white;
	font-weight: bold;
}

#textstat{
	font-size: 20px;
	color:white;
	padding: 5px;
	background-color: none;
}

#divtableauStatPat{
	background-color: rgba(27, 20, 120, 0.9);
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 400px;
    text-align: center;
    overflow: auto;
    float: left;
}

#tableauStatPat{
	color: white;
    border-collapse: collapse;
}

#tableauStatPat tr td{
	padding: 3px;
	width:130px;
}

#enteteTabStatPat{
	font-weight: bold;
	border: 1px solid white;
}

#donneesStatPat tr td{
	padding: 3px;
	font-style: normal;
	border-left: none;
    border-right: 1px solid white;;
    border-top: none;
    border-bottom: none;
}



#divtableauStatMed{
	background-color: rgba(27, 20, 120, 0.9);
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 560px;
    text-align: center;
    overflow: auto;
    float: right;
}

#tableauStatMed{
	color: white;
    border-collapse: collapse;
}

#tableauStatMed tr td{
	padding: 3px;
	width:200px;
}

#enteteTabStatMed{
	font-weight: bold;
	border: 1px solid white;
}

#donneesStatMed tr td{
	padding: 3px;
	font-style: normal;
	border-left: none;
    border-right: 1px solid white;;
    border-top: none;
    border-bottom: none;
}