/*Couleur du site 
*
*    background-color: rgba(7, 188, 131, 1) vert
*    rgba(25, 144, 206, 1) bleu
*    rgba(2, 184, 191, 1) bleuClair; rgba(27, 20, 120, 1) bleu foncé
*
*/
*{
  margin: 0;
  padding: 0;
}

html{
  background-color: rgba(2, 184, 191, 0.1);
  min-width: 1300px;
}

body{
  color : rgba(25, 144, 206, 1);
  font-family : Arial, Helvetica, sans-serif;
  font-size : 15px;
  margin: 0px;
}

header{
  overflow: hidden;
  display: block;
  background-color: white;
  padding-left: 10%;
}

#logoAccueil{
  display: block;
  float: left;
}

#logoAccueil img{
  width: 400px;
  height: 190px;
}

#headerDroite{
  padding-right: 10%;
}

#connexion{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /*background-color: rgba(25, 144, 206, 1);*/
  width: 650px;
  height: 97px;
  float: right;
}

#formulaireCo{
  margin-left: 190px; 
}

#menu{
  display: block;
  /*background-color: rgba(7, 188, 131, 1);*/
  width: 650px;
  height: 80px;
  float: right;
}

#menu nav {
  list-style: none ;
  text-align: center ;
  margin-top: 38px;
  margin-right: 0px;
  
}

#menu nav li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

#menu nav li a {
  padding: 20px 35px ;
  background: rgba(7, 188, 131, 1);
  color: #fff ;
  border: 1px solid white ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#menu nav li a:hover, #menu nav li a:focus, #menu nav li a:active {
  background: rgba(25, 144, 206, 1) ;
  /*text-decoration: underline ;*/
}

#BandeColor{
  background-color: rgba(27, 20, 120, 1);
  height: 10px;
  margin: 0px;
  border: inherit;
}


.container {
  width: 90%;
  min-height: 508px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-image:url("CM.jpg");
  /*font: normal normal normal 15px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;*/
}

.pageInterne{
  color: white;
  height: 100%;
  min-height: 508px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}



footer{
  background-color: rgba(27, 20, 120, 1);
  width:100%;
  bottom:0;
  padding-top: 10px;
  height: 50px;
}

footer p{
  text-align: center;
  color: white;
  margin-bottom: 0px;
  
}
