/*Couleur du site 
*
*    background-color: rgba(7, 188, 131, 1)
*    rgba(25, 144, 206, 1)
*    rgba(2, 184, 191, 1);
*
*
*
*/

html{
  background-color: #E0E0E0;

}

body{
      color : #081038;
      font-family : Arial, Helvetica, sans-serif;
      font-size : 15px;
      
      scrollbar-3d-light-color : #000000;
      scrollbar-arrow-color : #000000;
      scrollbar-base-color : #888888;
      scrollbar-dark-shadow-color : #000000;
      scrollbar-face-color : #787878;
      scrollbar-highlight-color : #000000;
      scrollbar-shadow-color : #ffffff;

}

.container {
    width: 1187px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-image:url("CM.jpg");
    /*font: normal normal normal 15px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;*/
}

.pageInterne{
   background-color: rgba(7, 188, 131, 0.5);
}

#header{
    overflow: hidden;
    margin: 15px 0 25px;
    padding: 10px 10px 10px 10px;
    display: block;
    background-color: dimgrey;
  }

#logoAccueil{
  display: block;
  float: left;
}

#logoAccueil img{
  width: 400px;
  height: 110px;
}

#connexion{
  float: right;
  margin-top: 5px;

}

#menu{
  float: right;
}

#menu nav {
  list-style: none ;
  text-align: center ;
  margin-top: 38px;
  margin-right: 0px;
  
}

#menu nav li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

#menu nav li a {
  padding: 15px 15px ;
  background: #2673FF ;
  color: #fff ;
  border: 1px solid white ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#menu nav li a:hover, #menu nav li a:focus, #menu nav li a:active {
  background: black ;
  /*text-decoration: underline ;*/
}
